<!-- Start Footer -->
<footer>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-4 side-column quick-links text-center d-none d-md-inline-block">
                <h4>Quick Links</h4>

                <p><a href="/Home">Home</a></p>
                <p><a href="/Home#aboutus">About Us</a></p>
                <p><a href="/Services">Services</a></p>
                <p><a href="/Support">Support</a></p>

            </div>
            <div class="col-md-4 text-center">
                <img src="~/images/main-logo.png" class="main-logo" />


                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>

                <div class="copyright">
                    Copyright &copy; 2019. Mason Dean Capital

                </div>

            </div>
            <div class="col-md-4 text-center side-column contact">
                <h4>Contact Us</h4>

                <p>714-555-5555</p>
                <p><a href="mailto:info@masondeancapital.com">info@masondeancapital.com</a></p>
                <p>
                    50000 Anystreet, Any City
                    <br />
                    Tustin, CA 92876
                </p>
            </div>

        </div>
    </div>

</footer>
<!-- End Footer -->