<div class="col-12 d-block d-md-none quick-nav">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Quick Navigation
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <ul>
                <li><a class="dropdown-item" href="/Products/Forex">Forex</a></li>
                <li><a class="dropdown-item" href="/Products/Futures">Futures</a></li>
                <li><a class="dropdown-item" href="/Products/Metals">Metals</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-3 d-none d-md-block">
    <div class="left-sidenav">
        <ul>
            <li><a href="/Products/Forex">Forex</a></li>
            <li><a href="/Products/Futures">Futures</a></li>
            <li><a href="/Products/Metals">Metals</a></li>
        </ul>
    </div>
</div>