    <!-- Start Testimonials -->
<div class="testimonials">
    <h6>
        What Our Clients Say
    </h6>
    <h3>
        Testimonials
    </h3>

    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Start Testimonials Carousel -->
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row justify-content-center">
                                <div class="col-8">
                                    <img src="~/images/icon-quote.png" class="lg-quote" />
                                    <p>
                                        Excepteur sint occaecat cupidtat non proident Lorm sun tim sed do eiusmod tempor ipsom orm sun tim non proident.
                                    </p>

                                    <p class="author">
                                        Patrick McConnel
                                    </p>
                                    <p class="author-title">
                                        Investor
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row justify-content-center">
                                <div class="col-8">
                                    <img src="~/images/icon-quote.png" class="lg-quote" />
                                    <p>
                                        Excepteur sint occaecat cupidtat non proident Lorm sun tim sed do eiusmod tempor ipsom orm sun tim non proident.
                                    </p>

                                    <p class="author">
                                        Patrick McConnel
                                    </p>
                                    <p class="author-title">
                                        Investor
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row justify-content-center">
                                <div class="col-8">
                                    <img src="~/images/icon-quote.png" class="lg-quote" />
                                    <p>
                                        Excepteur sint occaecat cupidtat non proident Lorm sun tim sed do eiusmod tempor ipsom orm sun tim non proident.
                                    </p>

                                    <p class="author">
                                        Patrick McConnel
                                    </p>
                                    <p class="author-title">
                                        Investor
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- End Testimonials Carousel -->
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->