
@{
    ViewBag.Title = "Career-Training";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Subpage Hero -->
<div class="subpage-hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Career Training Programs</h1>
                <h5>career training subheader</h5>
            </div>
        </div>
    </div>
</div>
<!-- End Subpage Hero -->
<div class="page-content">
    <div class="container">
        <div class="row">
            @Html.Partial("_ServicesNavigation")
            <div class="col-md-9">
                @Html.Partial("_BreadCrumbs")

                <h2>Career Training</h2>
                <h5>Looking ahead to the future.</h5>
                <p>
                    Aliquam lobortis ex non mauris accumsan maximus. Integer facilisis nibh ac tortor viverra efficitur. Aenean ullamcorper in libero in tincidunt. Proin eget rhoncus massa, et convallis augue. Nam fringilla ultricies dapibus. Mauris accumsan felis nec enim vehicula, nec efficitur eros aliquam. Quisque ullamcorper tellus ut justo malesuada, sit amet venenatis lorem commodo. Donec in dignissim ante.
                </p>

                <p>
                    Donec convallis elit sed volutpat ultricies. Curabitur non aliquet metus, quis ornare augue. Sed dictum vel felis sed tincidunt. Nullam gravida ut nisl vel venenatis. Sed eleifend augue ac eleifend sagittis. Suspendisse nec maximus ante. Nunc dapibus, sem non auctor malesuada, ipsum tellus pulvinar metus, vel iaculis enim quam sit amet leo. Cras pulvinar posuere tellus, et suscipit dui aliquet eu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam sodales commodo erat eget placerat. Vestibulum et mauris euismod lectus gravida auctor a in magna. Curabitur dapibus quam at nibh gravida, in dignissim nunc scelerisque.
                </p>

                <q>
                    Phasellus nunc lacus, rutrum et vestibulum sed, suscipit nec augue.
                </q>

                <img src="~/images/overview-handshake.jpg" class="full-width" />

                <p>
                    Fusce sagittis diam pellentesque arcu lobortis, eget convallis diam dignissim. Duis lectus mi, euismod ut massa sit amet, scelerisque feugiat enim. Maecenas vitae libero vitae urna sodales placerat. Integer ac velit a nisi ullamcorper ornare. Mauris sollicitudin ex porttitor turpis gravida, sed malesuada ipsum vestibulum.
                </p>

            </div>
        </div>
    </div>
</div>

