@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Hero -->
<div id="hero" class="hero">
    <div id="heroPlayer" class="hero-player"></div>
    <div id="customElement" class="player" data-property="{videoURL:'HyYpY69Zk6Y',containment:'#heroPlayer', showControls:false, autoPlay:true, loop:true, mute:true, startAt:2, opacity:1, addRaster:true, quality:'highres'}"></div>

    <div class="slide-item justify-content-center">
        <div class="slide-title">
            PLAN YOUR TRADE<br />
            TRADE YOUR PLAN
        </div>
        <div class="slide-blurb">
            Discover why Mason Dean Capital is your<br />
            best choice for FOREX and Futures Trading.
        </div>
        <div class="cta">
            <button class="btn btn-primary">Read More</button>
            <button class="btn btn-white">See Our Services</button>
        </div>
    </div>
</div>
<!-- End Hero -->
<!-- Start Service Intro -->
<div class="service-intro">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4">
                <div class="service-item d-flex-inline">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="images/icon-globe.png" class="service-icon" />
                        </div>
                        <div class="col-lg-9">
                            <h4>Forex Trading</h4>
                            <p>
                                Lorem ipsum dolor sit amet, cons
                                bh dolor, malesuada  etili adipDon
                                nec malesuada  etgutet…
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="service-item d-flex-inline">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="images/icon-globe.png" class="service-icon" />
                        </div>
                        <div class="col-lg-9">
                            <h4>Forex Trading</h4>
                            <p>
                                Lorem ipsum dolor sit amet, cons
                                bh dolor, malesuada  etili adipDon
                                nec malesuada  etgutet…
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="service-item d-flex-inline">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="images/icon-globe.png" class="service-icon" />
                        </div>
                        <div class="col-lg-9">
                            <h4>Forex Trading</h4>
                            <p>
                                Lorem ipsum dolor sit amet, cons
                                bh dolor, malesuada  etili adipDon
                                nec malesuada  etgutet…
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Service Intro -->
<!-- Start About Splash -->
<div class="about" id="aboutus">
    <div class="container">
        <div class="row about-title-container justify-content-center">
            <div class="col-12 text-center">

                <div class="about-dashed"></div>

                <div class="about-title">
                    ABOUT US
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5">
                <div class="splash-text">
                    to provide <strong>premier education</strong>,
                    <strong>superior trading</strong> tools and a
                    <strong>multitude of services</strong> to traders of all levels
                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
                <p>
                    Mason Dean Capital are the foremost providers of online FOREX and Futures
                    trading and related services.
                </p>
                <p>
                    Our mission is to provide premier education, superior trading tools and a
                    multitude of services to traders of all levels while operating within the most
                    widely respected jurisdictions in the world. We take pride is taking personal
                    care in our customers in  order that they receive the best possible attention and
                    support they deserve
                </p>
            </div>
        </div>
    </div>
</div>
<!-- End About Splash -->
<!-- Begin Services -->
<div class="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h2>We provide the <span>best service</span> for your investments</h2>
            </div>
        </div>

        <!-- Start Service Grid -->
        <div class="row service-grid">
            <div class="col-md-4 service-item">
                <img class="service-icon" src="images/icon-forex.png" />
                <h4>FOREX Trading</h4>
                <p>
                    Lorem ipsum dolor sit amet, cons ilim
                    bh dolor, malesuada  etili adip Don lie
                    nec malesuada  etgutet…
                </p>
            </div>
            <div class="col-md-4 service-item">
                <img class="service-icon" src="images/icon-low-spreads.png" />
                <h4>Low Spreads</h4>
                <p>
                    Lorem ipsum dolor sit amet, cons ilim
                    bh dolor, malesuada  etili adip Don lie
                    nec malesuada  etgutet…
                </p>
            </div>
            <div class="col-md-4 service-item">
                <img class="service-icon" src="images/icon-futures.png" />
                <h4>Futures</h4>
                <p>
                    Lorem ipsum dolor sit amet, cons ilim
                    bh dolor, malesuada  etili adip Don lie
                    nec malesuada  etgutet…
                </p>
            </div>
            <div class="col-md-4 service-item">
                <img class="service-icon" src="images/icon-active-traders.png" />
                <h4>Active Traders</h4>
                <p>
                    Lorem ipsum dolor sit amet, cons ilim
                    bh dolor, malesuada  etili adip Don lie
                    nec malesuada  etgutet…
                </p>
            </div>
            <div class="col-md-4 service-item">
                <img class="service-icon" src="images/icon-edicational-services.png" />
                <h4>Educational Services</h4>
                <p>
                    Lorem ipsum dolor sit amet, cons ilim
                    bh dolor, malesuada  etili adip Don lie
                    nec malesuada  etgutet…
                </p>
            </div>
            <div class="col-md-4 service-item">
                <img class="service-icon" src="images/icon-superior-support.png" />
                <h4>Superior Support</h4>
                <p>
                    Lorem ipsum dolor sit amet, cons ilim
                    bh dolor, malesuada  etili adip Don lie
                    nec malesuada  etgutet…
                </p>
            </div>
        </div>
        <!-- End Service Grid -->
        <!-- Start Service CTA -->
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <a href="#" class="btn btn-primary">View Our Services</a>
            </div>
        </div>
        <!-- End Service CTA -->
    </div>
</div>
<!-- End Services -->
