
@{
    ViewBag.Title = "Forex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Subpage Hero -->
<div class="subpage-hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>FOREX</h1>
                <h5>We Provide Products for Your Every Need</h5>
            </div>
        </div>
    </div>
</div>
<!-- End Subpage Hero -->
<div class="page-content">
    <div class="container">
        <div class="row">
            @Html.Partial("_ProductsNavigation")
            <div class="col-md-9">
                @Html.Partial("_BreadCrumbs")

                <h2>Foreign Exchange</h2>
                <h5>Looking ahead to the future.</h5>
                <p>
                    According to The Bank for International Settlements, the global FOREX volume reached 5.3 Trillion Dollars in 2013. It is the largest and most traded market in the world operating around the clock, 24 hours per day, from Sunday 5PM EST to Friday at 5PM EST. Mason Dean Capital offer over 50 currency pairs to trade with the lowest spreads and seamless execution.
                </p>
                <img src="~/images/forex-image.jpg" class="full-width" />
                <br />
                <h2>Benefits of trading FOREX:</h2>

                <ul class="arrow-list">
                    <li>Trade whenever suits you within the 24 Hour trading days from Sunday to Friday</li>
                    <li>Opportunities in rising or falling markets</li>
                    <li>50:1 leverage on major currencies</li>
                    <li>400:1 leverage for our off-shore customers</li>
                    <li>NO commissions or hidden fees. Cost of trade is in the bid/ask spread</li>
                    <li>High Liquidity due to large daily trade volume</li>
                </ul>


            </div>
        </div>
    </div>
</div>

