
@{
    ViewBag.Title = "Futures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Subpage Hero -->
<div class="subpage-hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Futures</h1>
                <h5>We Provide Products for Your Every Need</h5>
            </div>
        </div>
    </div>
</div>
<!-- End Subpage Hero -->
<div class="page-content">
    <div class="container">
        <div class="row">
            @Html.Partial("_ProductsNavigation")
            <div class="col-md-9">
                @Html.Partial("_BreadCrumbs")

                <h2>Futures</h2>
                <h5>Looking ahead to the future.</h5>

                <q>
                    Portfolios…including judicious investments… in leveraged Managed Futures accounts show substantially less risk at every possible level of expected returns than a portfolio of stocks (or stocks and bonds) alone
                </q>

                <p class="author">
                    <strong>Dr. John Lintner</strong>
                    <br />
                    <span>Harvard University & Co-creators (1965a,b) of the Capital Asset Pricing Model</span>
                </p>
                <p>
                    Mason Dean Capital offer futures trading with access to the global electronic futures markets. When utilizing screen based trading, it allow a very easy transition for traders who are exclusively trading equities.
                </p>

                <img src="~/images/futures-image.jpg" class="full-width" />
                <br /><br />
                <h2>Benefits of trading futures with Mason Dean Capital:</h2>

                <ul class="arrow-list">
                    <li>ALL in Commissions including ALL exchange and clearing fees</li>
                    <li>Trade with $500 Intra-day margins for E-mini's, other margins as low as 1/4 of the exchange overnight requirement</li>
                    <li>Trade Oil and Natural Gas on ICE and NYMEX.</li>
                    <li>Trade ICE US Futures including Russell and Agriculture products</li>
                    <li>Industry standard FIX connections and NINJA TRADER now available to all customers</li>
                </ul>


            </div>
        </div>
    </div>
</div>

