
@{
    ViewBag.Title = "New-Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Start Subpage Hero -->
<div class="subpage-hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>New Account</h1>
                <h5>Start investing today</h5>
            </div>
        </div>
    </div>
</div>
<!-- End Subpage Hero -->
<div class="page-content">
    <div class="container">
        <div class="row">
            @Html.Partial("_SupportNavigation")
            <div class="col-md-6 col-12">
                @Html.Partial("_BreadCrumbs")

                <!-- Start Account  Selection -->
                <!-- <div class="account-selection">
                  <h2>Please Choose an Account Type</h2>

                  <div class="btn-group" id="accountSelect" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary active" id="forex">Forex</button>
                    <button type="button" class="btn btn-primary" id="futures">Managed Futures</button>
                  </div>

                </div> -->


                <div class="formFields forexAccount" id="forexForm">
                    <h2>Fill Out The Application Below</h2>
                    <h5>All Fields are Required</h5>
                    <hr />
                    <fieldset>
                        <label class="required">Full Name</label>
                        <input type="text" name="name" required />
                    </fieldset>
                    <fieldset>
                        <label class="required">Email Address</label>
                        <input type="email" name="email" required />
                    </fieldset>
                    <fieldset>
                        <label class="required">Phone Number</label>
                        <input type="text" name="phone" required />
                    </fieldset>
                    <fieldset>
                        <label>Account Type</label>
                        <select id="acctType" required>
                            <option value="individual">Individual</option>
                            <option value="corporation">Corporation</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label>Country</label>
                        <select id="country" required>
                            <option value="usa">USA</option>
                            <option value="non-usa">Outside USA</option>
                        </select>
                    </fieldset>
                    <hr />
                    <button class="btn btn-primary submitApp" id="submitAppForex" disabled>Continue</button>
                </div>


                <div class="formFields futuresAccount">
                    <h2>Fill Out the Account Application Below</h2>
                    <h5>All Fields are Required</h5>
                    <fieldset>
                        <label class="required">Full Name</label>
                        <input type="text" name="name" required />
                    </fieldset>

                    <fieldset>
                        <label class="required">Email Address</label>
                        <input type="email" name="email" required />
                    </fieldset>

                    <fieldset>
                        <label class="required">Confirm Address</label>
                        <input type="email" name="cnfirmADdress" required />
                    </fieldset>

                    <fieldset>
                        <label class="required">Phone Number</label>
                        <input type="text" name="phone" required />
                    </fieldset>

                    <button class="btn btn-primary submitApp" id="submitAppFutures" disabled>Continue</button>

                </div>


            </div>
        </div>
    </div>
</div>

