
@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Subpage Hero -->
<div class="subpage-hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Overview</h1>
                <h5>We Are Mason Dean Capital</h5>
            </div>
        </div>
    </div>
</div>
<!-- End Subpage Hero -->
<div class="page-content">
    <div class="container">
        <div class="row">
            @Html.Partial("_WhyUsNavigation")

            <div class="col-md-9">
                @Html.Partial("_BreadCrumbs")
                <h2>An Overview of Who we are.</h2>
                <h5>Looking ahead to the future.</h5>

                <p>
                    Mason Dean Capital are the foremost providers of online FOREX and Futures trading andrelated services.
                </p>

                <p>
                    Mason Dean Capital, LLC (MDC) is fully regulated to operate within the USA which is the most highly respected jurisdictions in the world. MDC is a registered Independent Introducing Broker (IIB) with the Commodity Futures Trading Commission (CFTC) and is a member of the <a href="" target="_blank">National Futures Association</a> (NFA <strong>#0461520</strong>).
                </p>

                <q>
                    the foremost providers of online FOREX and Futures trading andrelated services
                </q>

                <img src="~/images/overview-handshake.jpg" class="full-width" />

                <p>
                    Our mission is to provide premier education, superior trading tools and a multitude of services to traders of all levels while operating within the most widely respected jurisdictions in the world. We take pride is taking personal care in our customers in order that they receive the best possible attention and support they deserve
                </p>
            </div>
        </div>
    </div>
</div>
