
@{
    ViewBag.Title = "Rebates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Subpage Hero -->
<div class="subpage-hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Rebates</h1>
                <h5>We Are Mason Dean Capital</h5>
            </div>
        </div>
    </div>
</div>
<!-- End Subpage Hero -->
<div class="page-content">
    <div class="container">
        <div class="row">
            @Html.Partial("_WhyUsNavigation")
            <div class="col-md-9">
                @Html.Partial("_BreadCrumbs")

                <h2>Savings for Our Clients</h2>
                <h5>Looking ahead to the future.</h5>
                <p>
                    Mason Dean Capital offer competitive rebates up to 15% (based on volume) to our customers.
                </p>
                <p>
                    More Info Coming Soon
                </p>

            </div>
        </div>
    </div>
</div>

