
@{
    ViewBag.Title = "USRegulated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Subpage Hero -->
<div class="subpage-hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>U.S. Regulated</h1>
                <h5>We Are Mason Dean Capital</h5>
            </div>
        </div>
    </div>
</div>
<!-- End Subpage Hero -->
<div class="page-content">
    <div class="container">
        <div class="row">
            @Html.Partial("_WhyUsNavigation")
            <div class="col-md-9">
                @Html.Partial("_BreadCrumbs")

                <h2>We Operate in the United States</h2>
                <h5>Looking ahead to the future.</h5>

                <img src="~/images/us-regulated.png" class="full-width" />

                <p>
                    FOREX and Commodities trading falls under the jurisdiction of the <a href="https://www.cftc.gov/" target="_blank">
                        Commodity Futures
                        Trading Commission
                    </a> (CFTC) which include all commodities traded in organized contract
                    markets. The CFTC polices matters of information and disclosure, fair trading practices,
                    registration of firms and individuals, protection of customer funds, record keeping, and
                    maintenance of orderly futures and options markets. The NFA provides a variety of
                    regulatory services and programs to electronic trading platforms to ensure the fair treatment
                    of customers and to maintain orderly markets.
                </p>

            </div>
        </div>
    </div>
</div>


